.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}


.actions { border: 1px solid #666; min-height: 500px; }
.results { border: 1px solid #666; box-sizing: border-box; width: 100%; min-width: 800px; min-height: 500px; margin: 0; padding: 10px; }
.list    { list-style: none; margin: 10px; }
.button  { width: 200px; padding: 5px 10px; border-radius: 4px; cursor: pointer; }


